In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
crop=pd.read_csv('../Data_raw/crop_data.csv')
fert=pd.read_csv('../Data_raw/Fertilizer.csv')

In [3]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
fert.head()

   Unnamed: 0              Crop   N   P   K   pH
0           0              Rice  80  40  40  5.5
1           1    Jowar(Sorghum)  80  40  40  5.5
2           2       Barley(JAV)  70  40  45  5.5
3           3             Maize  80  40  20  5.5
4           4  Ragi( naachnnii)  50  40  20  5.5

In [5]:
crop.isnull().sum()

temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
fert.isnull().sum()

Unnamed: 0    0
Crop          0
N             0
P             0
K             0
pH            0
dtype: int64

<b>Change crop names to lower case and removing spaces</b>

In [7]:
def change_case(s):
    s=s.replace(" ","")
    s=s.lower()
    return s

In [8]:
fert['Crop']=fert['Crop'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [9]:
crop['label'].unique()

array(['rice', 'wheat', 'mungbean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'cotton', 'groundnut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidneybeans', 'mothbeans', 'coconut',
       'blackgram', 'adzukibeans', 'pigeonpeas', 'chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [10]:
fert['Crop'].unique()

array(['rice', 'jowar(sorghum)', 'barley(jav)', 'maize',
       'ragi(naachnnii)', 'chickpeas(channa)', 'frenchbeans(farasbi)',
       'favabeans(papdi-val)', 'limabeans(pavta)', 'clusterbeans(gavar)',
       'soyabean', 'blackeyedbeans(chawli)', 'kidneybeans',
       'pigeonpeas(toordal)', 'mothbean(matki)', 'mungbeans', 'greenpeas',
       'horsegram(kulthi)', 'blackgram', 'rapeseed(mohri)',
       'corianderseeds', 'mustardseeds', 'sesameseed', 'cuminseeds',
       'lentils(masoordal)', 'brinjal', 'beetroot', 'bittergourd',
       'bottlegourd', 'capsicum', 'cabbage', 'carrot', 'cauliflower',
       'cucumber', 'corianderleaves', 'curryleaves', 'drumstickâ€“moringa',
       'chili', 'ladyfinger', 'mushroom', 'onion', 'potato', 'pumpkin',
       'radish', 'olive', 'sweetpotato', 'fenugreekleaf(methi)',
       'spinach', 'ridgegourd', 'gooseberry(amla)',
       'jambun(syzygiumcumini)', 'ziziphusmauritiana(bor)',
       'garciniaindica(kokam)', 'tamarind', 'tapioca(suran)', 'garlic',
       'lemon', 'tomato', 'ashgourd', 'pineapple', 'pomegranate',
       'banana', 'mango', 'grapes', 'jackfruit', 'guava', 'watermelon',
       'muskmelon', 'apricot', 'apple', 'chickoo', 'custardapple',
       'dates', 'figs', 'orange', 'papaya', 'aniseed', 'asafoetida',
       'bayleaf', 'blackpepper', 'cardamom', 'cinnamon', 'cloves',
       'jaiphal(nutmeg)', 'ginger', 'turmeric', 'cashewnuts', 'raisins',
       'coconut', 'almondnut', 'arecanut', 'pistachionut', 'lemongrass',
       'cotton', 'jute', 'coffee', 'sunflower'], dtype=object)

In [11]:
np.sort(crop['label'].unique())

array(['adzukibeans', 'apple', 'banana', 'blackgram', 'chickpea',
       'coconut', 'coffee', 'cotton', 'grapes', 'groundnut', 'jute',
       'kidneybeans', 'lentil', 'maize', 'mango', 'millet', 'mothbeans',
       'mungbean', 'muskmelon', 'orange', 'papaya', 'peas', 'pigeonpeas',
       'pomegranate', 'rice', 'rubber', 'sugarcane', 'tea', 'tobacco',
       'watermelon', 'wheat'], dtype=object)

In [12]:
np.sort(fert['Crop'].unique())

array(['almondnut', 'aniseed', 'apple', 'apricot', 'arecanut',
       'asafoetida', 'ashgourd', 'banana', 'barley(jav)', 'bayleaf',
       'beetroot', 'bittergourd', 'blackeyedbeans(chawli)', 'blackgram',
       'blackpepper', 'bottlegourd', 'brinjal', 'cabbage', 'capsicum',
       'cardamom', 'carrot', 'cashewnuts', 'cauliflower', 'chickoo',
       'chickpeas(channa)', 'chili', 'cinnamon', 'cloves',
       'clusterbeans(gavar)', 'coconut', 'coffee', 'corianderleaves',
       'corianderseeds', 'cotton', 'cucumber', 'cuminseeds',
       'curryleaves', 'custardapple', 'dates', 'drumstickâ€“moringa',
       'favabeans(papdi-val)', 'fenugreekleaf(methi)', 'figs',
       'frenchbeans(farasbi)', 'garciniaindica(kokam)', 'garlic',
       'ginger', 'gooseberry(amla)', 'grapes', 'greenpeas', 'guava',
       'horsegram(kulthi)', 'jackfruit', 'jaiphal(nutmeg)',
       'jambun(syzygiumcumini)', 'jowar(sorghum)', 'jute', 'kidneybeans',
       'ladyfinger', 'lemon', 'lemongrass', 'lentils(masoordal)',
       'limabeans(pavta)', 'maize', 'mango', 'mothbean(matki)',
       'mungbeans', 'mushroom', 'muskmelon', 'mustardseeds', 'olive',
       'onion', 'orange', 'papaya', 'pigeonpeas(toordal)', 'pineapple',
       'pistachionut', 'pomegranate', 'potato', 'pumpkin', 'radish',
       'ragi(naachnnii)', 'raisins', 'rapeseed(mohri)', 'rice',
       'ridgegourd', 'sesameseed', 'soyabean', 'spinach', 'sunflower',
       'sweetpotato', 'tamarind', 'tapioca(suran)', 'tomato', 'turmeric',
       'watermelon', 'ziziphusmauritiana(bor)'], dtype=object)

In [13]:
fert['Crop']=fert['Crop'].replace(to_replace='\(.*?\)',value='',regex=True)
fert['Crop']=fert['Crop'].replace('chickpeas','chickpea')
fert['Crop']=fert['Crop'].replace('lentils','lentil')
fert['Crop']=fert['Crop'].replace('mothbean','mothbeans')
fert['Crop']=fert['Crop'].replace('mungbeans','mungbean')

In [14]:
fert.head()

   Unnamed: 0    Crop   N   P   K   pH
0           0    rice  80  40  40  5.5
1           1   jowar  80  40  40  5.5
2           2  barley  70  40  45  5.5
3           3   maize  80  40  20  5.5
4           4    ragi  50  40  20  5.5

In [15]:
fert.drop('Unnamed: 0',axis=1,inplace=True)
fert.head()

     Crop   N   P   K   pH
0    rice  80  40  40  5.5
1   jowar  80  40  40  5.5
2  barley  70  40  45  5.5
3   maize  80  40  20  5.5
4    ragi  50  40  20  5.5

<b>Extracting common labels</b>

In [16]:
crop_fert=fert['Crop'].unique()
crop_name=crop['label'].unique()

In [17]:
extract_labels=[]
for _ in crop_fert:
    if _ in crop_name:
        extract_labels.append(_)

extract_labels

['rice',
 'maize',
 'chickpea',
 'kidneybeans',
 'pigeonpeas',
 'mothbeans',
 'mungbean',
 'blackgram',
 'lentil',
 'pomegranate',
 'banana',
 'mango',
 'grapes',
 'watermelon',
 'muskmelon',
 'apple',
 'orange',
 'papaya',
 'coconut',
 'cotton',
 'jute',
 'coffee']

<b>Create processed dataset</b>

In [18]:
new_crop=pd.DataFrame(columns=crop.columns)
new_fert=pd.DataFrame(columns=fert.columns)

In [19]:
new_crop

Empty DataFrame
Columns: [temperature, humidity, ph, rainfall, label]
Index: []

In [20]:
new_fert

Empty DataFrame
Columns: [Crop, N, P, K, pH]
Index: []

In [21]:
for label in extract_labels:
    new_crop=new_crop.append(crop[crop['label']==label])

for label in extract_labels:
    new_fert=new_fert.append(fert[fert['Crop']==label].iloc[0])

In [22]:
new_crop

    temperature   humidity        ph    rainfall   label
0     20.879744  82.002744  6.502985  202.935536    rice
1     21.770462  80.319644  7.038096  226.655537    rice
2     23.004459  82.320763  7.840207  263.964248    rice
3     26.491096  80.158363  6.980401  242.864034    rice
4     20.130175  81.604873  7.628473   262.71734    rice
..          ...        ...       ...         ...     ...
895   26.774637  66.413269  6.780064  177.774507  coffee
896   27.417112  56.636362  6.086922   127.92461  coffee
897   24.131797  67.225123  6.362608  173.322839  coffee
898   26.272418  52.127394  6.758793  127.175293  coffee
899   23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 5 columns]

In [23]:
new_fert

           Crop    N    P    K   pH
0          rice   80   40   40  5.5
3         maize   80   40   20  5.5
5      chickpea   40   60   80  5.5
12  kidneybeans   20   60   20  5.5
13   pigeonpeas   20   60   20  5.5
14    mothbeans   20   40   20  5.5
15     mungbean   20   40   20  5.5
18    blackgram   40   60   20  5.0
24       lentil   20   60   20  5.5
60  pomegranate   20   10   40  5.5
61       banana  100   75   50  6.5
62        mango   20   20   30  5.0
63       grapes   20  125  200  4.0
66   watermelon  100   10   50  5.5
67    muskmelon  100   10   50  5.5
69        apple   20  125  200  6.5
74       orange   20   10   10  4.0
75       papaya   50   50   50  6.0
88      coconut   20   10   30  5.0
93       cotton  120   40   20  5.5
94         jute   80   40   40  5.5
95       coffee  100   20   30  5.5

In [24]:
new_crop.to_csv('../Data_processed/CropData.csv')
new_fert.to_csv('../Data_processed/FertilizerData.csv')